h1 {
    text-align: center;
}

.selection {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.selection .btn{
    background-color: rgba(0, 255, 255, 0.287);
    padding: 10px;
    width: 100px;
}

.score p {
    /* text-align: center; */
    font-size: 80px;
    font-weight: 700;
    background-color: lightblue;
    margin: 40px;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.score {
    display: flex;
    align-items: center;
    justify-content: center;
}